#colorGame {
    -fx-font-family: "Arial";
    -fx-font-size: 110px;
    -fx-font-weight: bold;
    -fx-text-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, yellow 25%, red 85%);
    -fx-border-radius: 8;

}

#welCome {
    -fx-font-family: "Arial";
    -fx-font-size: 110px;
    -fx-font-weight: bold;
    -fx-text-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, aqua 0%, red 50%, yellow 90%);
    -fx-border-radius: 8;

}

.root {
    -fx-background-color: #383838;
    -fx-font-size: 10pt;

}

#blue {
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-font-size: 30px;
    -fx-text-fill: blue;
}

#red {
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-font-size: 30px;
    -fx-text-fill: red;
}

#warning {
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-font-size: 30px;
    -fx-text-fill: yellow;
}

#gyoztes {
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-font-size: 90px;
    -fx-text-fill: pink;
}

#tableText {
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-font-size: 60px;
    -fx-text-fill: yellow;
}

.button {
    -fx-font-size: 15px;
}

#names, #points {
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-font-size: 30px;
    -fx-text-fill: white;
}

#idTable {
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-text-fill: white;
}

.label {
    -fx-text-fill: white;
    -fx-font-size: 30px;
}

.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-font-size: 45px;
    -fx-background-color: transparent;
}

* {
    -fx-padding: 10px;
}

